bttrack version <%= File.read('VERSION') %><br/>

tracking <%= @torrents.count %> torrent(s)
<ul>
<% @torrents.each do |torrent| %>
<li><a href="/info/<%= torrent.unpack('H*')[0] %>"><%= torrent.unpack('H*')[0] %></a></li>
<% end %>
</ul>